version: '3.8'

services:
  db:
    image: postgres:16
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    networks:
      - mynetwork
    restart: always

  web:
    build: .
    # image: ${WEB_IMAGE}
    command: gunicorn application.wsgi:application --bind unix:/run/gunicorn.sock --workers 3
    env_file:
      - .env
    volumes:
      - static_volume:/app/staticfiles
      - gunicorn_socket:/run
    depends_on:
      - db
    networks:
      - mynetwork
    restart: always

  nginx:
    image: nginx:stable-alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/staticfiles
      - gunicorn_socket:/run
    depends_on:
      - web
    networks:
      - mynetwork
    restart: always

volumes:
  postgres_data:
  static_volume:
  gunicorn_socket:

networks:
  mynetwork:
    driver: bridge